@model ArmaRealMapWebSite.Models.LibrariesViewModel
@using ArmaRealMap.Core.ObjectLibraries
@using System.Linq

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Ajouter une bibliothèque</a>
    <a class="btn btn-outline-secondary" asp-action="Export"><i class="fas fa-download"></i> Exporter</a>
</p>

<ul class="nav nav-tabs">
    @foreach (var terrain in (new TerrainRegion?[] { null }).Concat(Enum.GetValues<TerrainRegion>().Cast<TerrainRegion?>()))
    {
        <li class="nav-item">
            <a class="nav-link @(terrain == Model.TerrainRegion ? " active" : "")" asp-action="Index" asp-route-terrainRegion="@terrain">
                @if (terrain != null)
                {

                    @Html.DisplayFor(_ => terrain)
                }
                else
                {
                    @:Tous
                }
            </a>
        </li>
    }
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Libraries[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Libraries[0].TerrainRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Libraries[0].Density)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Libraries[0].Probability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Libraries)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ObjectLibraryID">
                    @Html.DisplayFor(modelItem => item.ObjectCategory)
                    @if (!string.IsNullOrEmpty(item.Name))
                    {
                        @:-
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerrainRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Density)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Probability)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ObjectLibraryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ObjectLibraryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ObjectLibraryID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
