@model AssetsViewModel

@{
    ViewData["Title"] = "Assets";
}

<form asp-action="Index" method="get" class="form-inline text-center">
    <label asp-for="TerrainRegion" class="my-1 mr-2"></label>
    <select asp-for="TerrainRegion" class="form-control my-1 mr-2" asp-items="@Html.GetEnumSelectList<ArmaRealMapWebSite.Entities.Assets.TerrainRegion>()">
        <option value="">Tous</option>
    </select>
    <label asp-for="AssetCategory" class="my-1 mr-2"></label>
    <select asp-for="AssetCategory" class="form-control my-1 mr-2" asp-items="@Html.GetEnumSelectList<ArmaRealMapWebSite.Entities.Assets.AssetCategory>()">
        <option value="">Tous</option>
    </select>
    <label asp-for="GameModID"  class="my-1 mr-2"></label>
    <select asp-for="GameModID" class="form-control my-1 mr-2" asp-items="Model.Mods">
        <option value="">Tous</option>
    </select>
    <input type="submit" value="Filtrer" class="btn btn-primary my-1 mr-2" />
</form>

<p>@Model.Results.Count objet(s)</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Aperçu
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].BoundingSphereDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].TerrainRegions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].AssetCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Results[0].GameMod)
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var regions = Enum.GetValues<ArmaRealMapWebSite.Entities.Assets.TerrainRegion>().Skip(1).ToArray();
            }
@foreach (var item in Model.Results) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.AssetID">
                    <img src="@Url.Action("Preview", new { id = item.AssetID, size = 480 })" width="240" height="135" />
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AssetID">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoundingSphereDiameter)
            </td>
            <td>
                @foreach (var value in regions)
                {
                    if ((item.TerrainRegions & value) == value)
                    {
                        <span class="badge badge-success">@Html.DisplayFor(model => value)</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameMod.Name)
            </td>
        </tr>
}
    </tbody>
</table>
