@model ArmaRealMapWebSite.Entities.Assets.ObjectLibraryComposition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ObjectLibraryComposition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjectLibrary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjectLibrary.ObjectLibraryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Probability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Probability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ObjectLibraryCompositionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
