@model ArmaRealMapWebSite.Entities.Maps.Map
@using System.Globalization
@{
    ViewData["Title"] = Model.Label;

    var center = Model.FromGameCoordinates(Model.SizeInMeters.Value / 2, Model.SizeInMeters.Value / 2);
    var level = 12;
    if (Model.SizeInKilometers.Value > 80)
    {
        level = 11;
    }
    var osm = FormattableString.Invariant($"https://www.openstreetmap.org/#map={level}/{center.Latitude.ToDouble():0.0000}/{center.Longitude.ToDouble():0.0000}");
    var title = $"[{Model.Label}] Signalement de problème";
    var text = $"Decrivez ici le problème constaté";
    var github = $"https://github.com/jetelain/ArmaRealMap/issues/new?title={System.Net.WebUtility.UrlEncode(title)}&body={System.Net.WebUtility.UrlEncode(text)}&labels=bug";
}

<h1>@Model.Label</h1>

<h4>Carte réelle</h4>
<p>
    <a id="osm-btn" class="btn btn-primary" href="#">OpenStreetMap View</a>
    <a id="s2-btn" class="btn btn-outline-primary" href="#">Satellite View</a>
    <a href="@osm" class="btn btn-outline-secondary"><i class="fas fa-map-marked"></i> Open in OpenStreetMap</a>
</p>
<div id="osm" style="height:75vh;">
</div>

<div class="mt-5">
    <h4 class="text-danger"><i class="fas fa-exclamation-circle"></i> Report an issue</h4>

    <h5>Kown Coordinates</h5>
    <p>Write here coordinates from DAGR multiplicated by 10 (meter precision expected).</p>
    <form asp-action="GameIssue" method="get" class="form-inline">
        <input type="hidden" name="name" value="@Model.Name" />
        <div class="form-group mb-2 mr-sm-2">
            <label class="control-label mr-sm-2">In game coordinates</label>
            <input name="x" class="form-control mr-sm-2" />
            <input name="y" class="form-control mr-sm-2" />
        </div>
        <div class="form-group mb-2 mr-sm-2">
            <button class="btn btn-primary"><i class="fas fa-map-marked"></i> Report with those coordinates</button>
        </div>
    </form>

    <h5>Unknown or Without Coordinates</h5>
    <p><a href="@github" class="btn btn-primary"><i class="fab fa-github"></i> Report an issue on GitHub</a> or <a href="https://discord.gg/y3kfUP4" class="btn btn-secondary"><i class="fab fa-discord"></i> Contact GrueArbre on Discord</a></p>
</div>

<div class="mt-5">
    <h4>Technical parameters</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Workshop)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GridSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GridSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CellSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CellSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resolution)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TerrainRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TerrainRegion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MgrsBottomLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MgrsBottomLeft)
        </dd>
    </dl>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.MapID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
}
@section Scripts {
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script src="~/js/L.Map.Sync.js"></script>
    <script>

        var center = [@center.Latitude.ToDouble().ToString(CultureInfo.InvariantCulture), @center.Longitude.ToDouble().ToString(CultureInfo.InvariantCulture)];

        var rect = @Json.Serialize(Model.ToLeafletRectangle());

        var mapOSM = L.map('osm').setView(center, 13);
        
        setupToggleMap(mapOSM);

        L.polygon(rect, {fill: false}).addTo(mapOSM);

        mapOSM.fitBounds([rect[0], rect[2]]);


    </script>
}